<div class="flex flex-row justify-between">
  <%= form_with(model: task, class:"text-lg flex my-3") do |form| %>
    <%= form.check_box :completed,
                       data: {
                         id: task.id,
                         action: "tasks#toggle"
                       },
                       class: "mt-1 mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %>
    <%= task.description %>
  <% end %>
  <div class="shrink-0">
    <%= link_to "Edit", edit_task_path(task),
                class: "btn bg-gray-100"
    %>
    <div class="inline-block ml-1">
      <%= button_to "Delete", task_path(task),
                    method: :delete,
                    data: { action: "tasks#delete" },
                    class: "btn bg-red-100" %>
    </div>
  </div>
</div>